<?xml version="1.0" encoding="UTF-8" ?>
<plugin>
    <author>Ignite Realtime</author>
    <class>org.ifsoft.galene.openfire.Galene</class>
    <name>${project.name}</name>
    <description>${project.description}</description>
    <version>${project.version}</version>
    <licenseType>Apache 2.0</licenseType>
    <date>2022-04-30</date>
    <minServerVersion>4.0.0</minServerVersion>

   <adminconsole>
        <tab id="sidebar-media-services">                                                                            
            <item id="galene-summary" name="${config.page.summary}" description="${config.page.summary.description}" url="galene-summary.jsp"/>
            <item id="galene-settings" name="${config.page.settings}" description="${config.page.settings.description}" url="galene-settings.jsp"/>			
        </tab>      
    </adminconsole> 
</plugin>
